@model CarShop.Models.PhanQuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table, th, td {
        border: 0px solid;
    }
</style>
<h2>Xoá quyền</h2>

<div>
    <table style="width: 250px ; margin-bottom: 3px">
        <tr>
            <td>Mã quyền:</td>
            <td>@Html.DisplayFor(model => model.IDQuyen)</td>
        </tr>
        <tr>
            <td>Tên quyền:</td>
            <td>@Html.DisplayFor(model => model.TenQuyen)</td>
        </tr>
    </table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xoá" class="btn btn-default" /> |
        @Html.ActionLink("Về trang chủ", "Index")
    </div>
}
</div>
