@{
    ViewBag.Title = "About";
}

<div>
    <section class="banner-tt"  style="max-width: 1400px">
        <img src="~/Content/img/product.jpg" alt="Giới thiệu công ty">
    </section>
    <section class="gtct">
        <div class="container1">
            <div class="gt-ct">
                <div class="title">
                    <h1>Thành lập</h1>
                    <p>Công ty TNHH CarOmini được thành lập vào ngày 01/03/2004, trở thành Đại lý chính thức của Công ty ô tô <br> CarOmini Việt Nam ngày 08/05/2006 kinh doanh theo mô hình 4S</p>
                </div>
            </div>
            <div class="lgt">
                <div class="item">
                    <div class="img">
                        <img src="~/Content/img/gt.jpg" alt="Đại lí chính thức của Caromini">
                    </div>
                    <div class="text">
                        <h3> Đại lí chính thức của CarOmini (CarOmini Việt Nam)</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="~/Content/img/gt.jpg" alt="Đại lí chính thức của Caromini">
                    </div>
                    <div class="text">
                        <h3> Sales new Car - Chuyên cung cấp dòng xe mới nhất</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="~/Content/img/gt.jpg" alt="Đại lí chính thức của Caromini">
                    </div>
                    <div class="text">
                        <h3> CarOmini - Đại lý có cơ sở vật chất và quy mô lớn nhất Việt Nam</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="~/Content/img/gt.jpg" alt="Đại lí chính thức của Caromini">
                    </div>
                    <div class="text">
                        <h3>CarOmini gồm 3 tầng nhà xưởng được trang bị đồng bộ thiết bị đạt chuẩn</h3>
                    </div>
                </div>
            </div>
            <p class="note">
                <span> CarOmini - Đại lý ô tô có cơ sở vật chất và quy mô lớn nhất Việt Nam và Đông Nam Á với diện tích mặt bằng 6.600 m2, gồm 3 tầng nhà xưởng được trang bị đồng bộ thiết bị chuyên dùng đạt tiêu chuẩn Quốc Tế.</span>
            </p>
        </div>
    </section>
    <div class="ttdd">
        <div class="container1">
            <h1>Thành tựu đạt được</h1>
            <div class="list-img">
                <p><img src="~/Content/img/kqua3.jpg" style="width: 1200px; height: 600px; margin-bottom: 5px;" alt=""></p>
                <p><img src="~/Content/img/kqua2.jpg" style="width: 1200px; height: 576px;" alt=""></p>
            </div>
        </div>
    </div>

    <div class="ttdd">
        <div class="container1">
            <h1>Giải tập thể</h1>
            <div class="text1">
                <div class="nd-grid-3">
                    <p>Giải Bạc đại lý xuất sắc nhất của CarOmini Việt Nam năm 2008</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2009</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2010</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2011</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2012</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2013</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2014</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2015</p>
                    <p>Giải Vàng đại lý xuất sắc nhất của CarOmini Việt Nam năm 2014</p>
                    <p>Giải Vàng đại lý số 1 của CarOmini Việt Nam năm 2021</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ttdd">
        <div class="container1">
            <h1>Giải cá nhân</h1>
            <div class="img-user">
                <img src="~/Content/img/canhan.jpg" alt="">
            </div>
            <div class="nd-grid-3">
                <p>Vô địch toàn quốc Nhân viên Chăm sóc khách hàng năm 2014</p>
                <p>Huy chương Bạc Cố vấn dịch vụ năm 2014</p>
                <p>Huy chương Đồng Cố vấn phụ tùng năm 2014</p>
                <p>Vô địch toàn quốc Kỹ Thuật viên Gò Vấp năm 2009</p>
                <p>Vô địch Đông Nam Á Kỹ Thuật viên đồng sơn năm 2008</p>
                <p>Vô địch toàn quốc Kỹ Thuật viên Gò Vấp năm 2008</p>
                <p>Huy chương Bạc Cố vấn Dịch vụ năm 2008</p>
                <p>Huy chương Đồng Cố vấn Dịch vụ năm 2006</p>
            </div>
        </div>
    </div>

    <div class="ttdd">
        <div class="container1">
            <div class="td-lt">
                <h2>Hoạt động xã hội</h2>
                <div class="img">
                    <img src="~/Content/img/hoatdongxahoi.png" alt="">
                </div>
                <p class="text">
                    Bên cạnh những nỗ lực trong hoạt động kinh doanh CarOmini cũng quan tâm và thúc đẩy các hoạt động đóng góp cho cộng đồng, thực hiện trách nhiệm với xã hội thông qua nhiều hoạt động ý nghĩa có quy mô rộng khắp các lĩnh vực như:
                    Bảo vệ môi trường, Văn hóa xã hội, An toàn giao thông, tham gia hiến máu để góp phần giải quyết tình trạng thiếu máu ở Viện Huyết Học Truyền Máu Trung Ương, hay những chuyến đi thiện nguyện đến với trẻ em miền núi, quyên góp cho
                    đồng bào lũ lụt...cũng như hưởng ứng tích cực những phong trào do Toyota Việt Nam khởi xướng.

                </p>
            </div>
        </div>
    </div>
    <div class="ttdd">
        <div class="container1">
            <div class="td-lt">
                <h2>Thông điệp lãnh đạo</h2>
                <p>Hướng tới sự hoàn thiện và phát triển bền vững là Triết lý kinh doanh của CarOmini. Phương châm hoạt động 5S là kim chỉ nam xuyên suốt trong các hoạt động sản xuất kinh doanh của chúng tôi</p>
                <div class="list-lt">
                    <div class="item-pr">
                        <div class="item">
                            <img src="~/Content/img/ld-1.png" alt="">
                            <div class="text">
                                <h3>Satisfy Customer</h3>
                                <p>Hài lòng Khách hàng</p>
                            </div>
                        </div>
                    </div>

                    <div class="item-pr">
                        <div class="item">
                            <img src="~/Content/img/ld-2.png" alt="">
                            <div class="text">
                                <h3>Satisfy Employe</h3>
                                <p>Hài lòng Nhân viên</p>
                            </div>
                        </div>
                    </div>

                    <div class="item-pr">
                        <div class="item">
                            <img src="~/Content/img/ld-3.png" alt="">
                            <div class="text">
                                <h3>Satisfy Producer</h3>
                                <p>Hài lòng Nhà sản xuất</p>
                            </div>
                        </div>
                    </div>

                    <div class="item-pr">
                        <div class="item">
                            <img src="~/Content/img/ld-4.png" alt="">
                            <div class="text">
                                <h3>Satisfy Invester</h3>
                                <p>Hài lòng Nhà đầu tư</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-pr">
                        <div class="item">
                            <img src="~/Content/img/ld-5.png" alt="">
                            <div class="text">
                                <h3>Satisfy Soceity</h3>
                                <p>Hài lòng Xã hội</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    Sau 10 năm hoạt động, trở thành đại lý số 1 của Việt Nam với nhiều thành tích ấn tượng. Khẩu hiệu “ let’s do it better” năm 2016 như một thông điệp mà Hội đồng quản trị muốn gửi tới toàn thể CarOmini – Không ngủ quên trong
                    chiến thắng, không ngừng kaizen đổi mới sáng tạo trên mọi lĩnh vực hoạt động, tăng cường các hoạt động chăm sóc và duy trì khách hàng, nâng cao chất lượng dịch vụ, chất lượng đào tạo, tất cả vì một mục tiêu cuối cùng là đem lại
                    sự hài lòng trên cả mong đợi của khách hàng, trở thành một địa chỉ tin cậy, một Đại lý được yêu thích nhất trong khu vực
                </p>
            </div>
        </div>
    </div>
</div>