
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <section class="main-container-left">
        <h2>Tin tức nổi bật</h2>
        <div class="container-top-left">
            <article>
                <img src="~/Content/img/top-left.jpg">

                <div>
                    <h3>Honda City 2023 ra mắt, thêm bản hybrid</h3>

                    <p>Bản facelift 2023 Honda City vừa được giới thiệu tại Ấn Độ. Giá quy đổi khoảng 331 triệu đồng và bản cao nhất là 587,4 triệu đồng.</p>

                    <a href="#">Đọc thêm <span>>></span></a>
                </div>
            </article>
        </div>

        <div class="container-bottom-left">
            <article>
                <img src="~/Content/img/bottom-left-1.jpg">
                <div>
                    <h3>Cách đăng tin bán ô tô hiệu quả nhất hiện nay</h3>
                    <p>CarOmini sẽ gợi ý cho các bạn những mẹo nhỏ để có được một bài đăng bán ô tô chỉn chu và thu hút khách hàng nhất.</p>

                    <a href="#">Đọc thêm <span>>></span></a>
                </div>
            </article>

            <article>
                <img src="~/Content/img/bottom-left-2.jpg">
                <div>
                    <h3>5 kỹ năng cần thiết cho nhân viên kinh doanh ô tô</h3>
                    <p>"Đừng cố bán, hãy giúp khách hàng mua" là cách tư vấn hiệu quả và giới thiệu các ưu đãi, giúp bạn có thể chốt "deal" dễ dàng.</p>

                    <a href="#">Đọc thêm <span>>></span></a>
                </div>
            </article>
        </div>
    </section>

    <section class="main-container-right">
        <h2>Tin tức xem nhiều</h2>

        <article>
            <h4>Tin tức </h4>
            <div>
                <h2>Từ tháng 4, Ford tăng giá một số mẫu xe</h2>

                <p>Ford Everest, Ford Territory và Ford Explorer đồng loạt tăng giá 10 - hơn 50 triệu đồng tùy phiên bản, áp dụng từ ngày 1/4/2023.</p>

                <a href="#">Đọc thêm <span>>></span></a>
            </div>
            <img src="~/Content/img/right-1.jpg">
        </article>

        <article>
            <h4>Tin tức </h4>
            <div>
                <h2>10 mẫu xe bán chạy nhất tháng 2/2023</h2>

                <p>Các hãng đã bắt đầu công bố doanh số xe tháng 2/2023. Ba mẫu xe từ nhà Hyundai, Mitsubishi và Ford chiếm 3 vị trí top doanh số...</p>

                <a href="#">Đọc thêm <span>>></span></a>
            </div>
            <img src="~/Content/img/banner-news-2.jpg">
        </article>

        <article>
            <h4>Tin tức </h4>
            <div>
                <h2>Doanh số xe Hyundai tháng 2/2023</h2>

                <p>Hyundai Accent tiếp tục là mẫu xe có doanh số cao nhất tháng 2 với 1564 xe được giao đến tay khách hàng, tăng 52,7% so với tháng...</p>

                <a href="#">Đọc thêm <span>>></span></a>
            </div>
            <img src="~/Content/img/right-4.jpg">
        </article>

        <article>
            <h4>Tin tức </h4>
            <div>
                <h2>Tổng hợp ưu đãi các hãng xe trong tháng 3/2023</h2>

                <p>Các hãng xe tung ưu đãi trong tháng 3 bao gồm ưu đãi lệ phí trước bạ, tiền mặt, các gói phụ kiện chính hãng, gói bảo dưỡng</p>

                <a href="#">Đọc thêm <span>>></span></a>
            </div>
            <img src="~/Content/img/right-5.jpg">
        </article>

        <article>
            <h4>Tin tức </h4>
            <div>
                <h2>Honda CR-V 2023 trình làng tại Thái Lan, chờ ngày về Việt Nam</h2>

                <p>Honda Thái Lan đã đăng tải một số hình ảnh giới thiệu CR-V 2023, đồng thời hé lộ các phiên bản của CR-V tại thị trường này.</p>

                <a href="#">Đọc thêm <span>>></span></a>
            </div>
            <img src="~/Content/img/car1.jpg">
        </article>
    </section>
</div>